cryptography
dotenv
download
eventlet
flask-cors
Flask-SocketIO
gevent-websocket
gunicorn
psutil
pygame
pyinstaller
python-keycloak
python-docx
sockets
the-mask
websocket-client
rich
netifaces
pypandoc
mariadb
