<div id="cricket-view-container" style="display: none;">

    <table id="cricket-table" class="game-table">
        <thead>
            <tr>
                <th>Spieler</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>Bull</th>
                <th>Punkte</th>
                <th class="game-table__header--avg-g">ø Gesamt</th>
                <th>MPR</th>
                <th>Legs</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <table id="tactics-table" class="game-table" style="display: none;">
        <thead>
            <tr>
                <th>Spieler</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>Bull</th>
                <th>Punkte</th>
                <th class="game-table__header--avg-g">ø Gesamt</th>
                <th>MPR</th>
                <th>Legs</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<template id="cricket-row-template">
    <tr>
        <td class="game-table__cell game-table__cell--player-name"></td>
        <td class="game-table__cell game-table__cell--hits-15"></td>
        <td class="game-table__cell game-table__cell--hits-16"></td>
        <td class="game-table__cell game-table__cell--hits-17"></td>
        <td class="game-table__cell game-table__cell--hits-18"></td>
        <td class="game-table__cell game-table__cell--hits-19"></td>
        <td class="game-table__cell game-table__cell--hits-20"></td>
        <td class="game-table__cell game-table__cell--hits-bull"></td>
        <td class="game-table__cell game-table__cell--score"></td>
        <td class="game-table__cell game-table__cell--avg-g"></td>
        <td class="game-table__cell game-table__cell--mpr"></td>
        <td class="game-table__cell game-table__cell--legs-sets"></td>
    </tr>
</template>

<template id="tactics-row-template">
    <tr>
        <td class="game-table__cell game-table__cell--player-name"></td>
        <td class="game-table__cell game-table__cell--hits-10"></td>
        <td class="game-table__cell game-table__cell--hits-11"></td>
        <td class="game-table__cell game-table__cell--hits-12"></td>
        <td class="game-table__cell game-table__cell--hits-13"></td>
        <td class="game-table__cell game-table__cell--hits-14"></td>
        <td class="game-table__cell game-table__cell--hits-15"></td>
        <td class="game-table__cell game-table__cell--hits-16"></td>
        <td class="game-table__cell game-table__cell--hits-17"></td>
        <td class="game-table__cell game-table__cell--hits-18"></td>
        <td class="game-table__cell game-table__cell--hits-19"></td>
        <td class="game-table__cell game-table__cell--hits-20"></td>
        <td class="game-table__cell game-table__cell--hits-bull"></td>
        <td class="game-table__cell game-table__cell--score"></td>
        <td class="game-table__cell game-table__cell--avg-g"></td>
        <td class="game-table__cell game-table__cell--mpr"></td>
        <td class="game-table__cell game-table__cell--legs-sets"></td>
    </tr>
</template>