<!-- Frontend/templates/partials/_view_bobs27.html -->

<div id="bobs27-view-container" style="display: none;">
    <table class="game-table" id="bobs27-table">
        <thead>
            <tr>
                <th>Spieler</th>
                <th>Punkte</th>
                <th>Aktuelles Ziel</th>
                <th>Legs</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<template id="bobs27-row-template">
    <tr>
        <td class="game-table__cell game-table__cell--player-name"></td>
        <td class="game-table__cell game-table__cell--score"></td>
        <td class="game-table__cell game-table__cell--target"></td>
        <td class="game-table__cell game-table__cell--legs-sets"></td>

    </tr>
</template>