<!-- Frontend/templates/partials/_view_bermuda.html -->

<div id="bermuda-view-container" style="display: none;">

    <div class="game-rules-description" style="display: none;">
        <p class="game-rules-description__help-first-line">Ziel von Bermuda ist es, in jeder der 13 Runden das vorgegebene Segment zu treffen.</p>
        Die Ziele sind der Reihe nach:
        <ul>
            <li>12, 13, 14, beliebiges Double</li>
            <li>15, 16, 17, beliebiges Triple</li>
            <li>18, 19, 20, Bull</li>
        </ul>
        Trifft man das Ziel nicht, wird der aktuelle Punktestand halbiert. Es gewinnt, wer am Ende die höchste Punktzahl hat.
    </div>


    <table class="game-table" id="bermuda-table">
        <thead>
            <tr>
                <th>Spieler</th>
                <th>Punkte</th>
                <th>Legs</th>
            </tr>
        </thead>
        <tbody>
            </tbody>
    </table>
</div>

<template id="bermuda-row-template">
    <tr>
        <td class="game-table__cell game-table__cell--player-name"></td>
        <td class="game-table__cell game-table__cell--score"></td>
        <td class="game-table__cell game-table__cell--legs-sets"></td>
    </tr>
</template>