<div id="cricket-view-container" style="display: none;">

    <div class="game-rules-description" style="display: none;">
        <p class="game-rules-description__help-first-line">Die vorgegebenen Zahlen müssen jeweils dreimal getroffen werden, um sie zu "schließen".</p>
        <ul>
            <li><span class="game-rules-description__help-target-cricket">Cricket:</span>15 bis 20 + Bull</li>
            <li><span class="game-rules-description__help-target_tactics">Tactics:</span>10 bis 20 + Bull</li>
            <li>Sobald ein Spieler ein Feld geschlossen hat, kann er auf diesem Feld punkten, solange nicht alle anderen Spieler dieses Feld ebenfalls geschlossen haben.</li>
            <li>Es gewinnt, wer zuerst alle Felder schließt und die höchste Punktzahl hat.</li>
        </ul>
    </div>
    
    <table id="cricket-table" class="game-table">
        <thead>
            <tr>
                <th>Spieler</th>
<th class="game-table__header--hits-15">15</th>
                <th class="game-table__header--hits-16">16</th>
                <th class="game-table__header--hits-17">17</th>
                <th class="game-table__header--hits-18">18</th>
                <th class="game-table__header--hits-19">19</th>
                <th class="game-table__header--hits-20">20</th>
                <th class="game-table__header--hits-bull">Bull</th>
                <th>Punkte</th>
                <th class="game-table__header--avg-g">ø Gesamt</th>
                <th>MPR</th>
                <th>Legs</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <table id="tactics-table" class="game-table" style="display: none;">
        <thead>
            <tr>
                <th>Spieler</th>
<th class="game-table__header--hits-10">10</th>
                <th class="game-table__header--hits-11">11</th>
                <th class="game-table__header--hits-12">12</th>
                <th class="game-table__header--hits-13">13</th>
                <th class="game-table__header--hits-14">14</th>
                <th class="game-table__header--hits-15">15</th>
                <th class="game-table__header--hits-16">16</th>
                <th class="game-table__header--hits-17">17</th>
                <th class="game-table__header--hits-18">18</th>
                <th class="game-table__header--hits-19">19</th>
                <th class="game-table__header--hits-20">20</th>
                <th class="game-table__header--hits-bull">Bull</th>
                <th>Punkte</th>
                <th class="game-table__header--avg-g">ø Gesamt</th>
                <th>MPR</th>
                <th>Legs</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<template id="cricket-row-template">
    <tr>
        <td class="game-table__cell game-table__cell--player-name"></td>
        <td class="game-table__cell game-table__cell--hits-15"></td>
        <td class="game-table__cell game-table__cell--hits-16"></td>
        <td class="game-table__cell game-table__cell--hits-17"></td>
        <td class="game-table__cell game-table__cell--hits-18"></td>
        <td class="game-table__cell game-table__cell--hits-19"></td>
        <td class="game-table__cell game-table__cell--hits-20"></td>
        <td class="game-table__cell game-table__cell--hits-bull"></td>
        <td class="game-table__cell game-table__cell--score"></td>
        <td class="game-table__cell game-table__cell--avg-g"></td>
        <td class="game-table__cell game-table__cell--mpr"></td>
        <td class="game-table__cell game-table__cell--legs-sets"></td>
    </tr>
</template>

<template id="tactics-row-template">
    <tr>
        <td class="game-table__cell game-table__cell--player-name"></td>
        <td class="game-table__cell game-table__cell--hits-10"></td>
        <td class="game-table__cell game-table__cell--hits-11"></td>
        <td class="game-table__cell game-table__cell--hits-12"></td>
        <td class="game-table__cell game-table__cell--hits-13"></td>
        <td class="game-table__cell game-table__cell--hits-14"></td>
        <td class="game-table__cell game-table__cell--hits-15"></td>
        <td class="game-table__cell game-table__cell--hits-16"></td>
        <td class="game-table__cell game-table__cell--hits-17"></td>
        <td class="game-table__cell game-table__cell--hits-18"></td>
        <td class="game-table__cell game-table__cell--hits-19"></td>
        <td class="game-table__cell game-table__cell--hits-20"></td>
        <td class="game-table__cell game-table__cell--hits-bull"></td>
        <td class="game-table__cell game-table__cell--score"></td>
        <td class="game-table__cell game-table__cell--avg-g"></td>
        <td class="game-table__cell game-table__cell--mpr"></td>
        <td class="game-table__cell game-table__cell--legs-sets"></td>
    </tr>
</template>