<!-- Frontend/templates/partials/_view_bull_off.html -->

<div id="bull-off-view-container" style="display: none;">
    <table class="game-table" id="bull-off-table">
        <thead>
            <tr>
                <th>Spieler</th>
                <th>Abstand (mm)</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<template id="bull-off-row-template">
    <tr>
        <td class="game-table__cell game-table__cell--player-name"></td>
        <td class="game-table__cell game-table__cell--score"></td>
    </tr>
</template>