<!-- Frontend/templates/partials/_view_rtw.html -->

<div id="rtw-view-container" style="display: none;">
    <table class="game-table" id="rtw-table">
        <thead>
            <tr>
                <th>Spieler</th>
                <th>Punkte</th>
                <th>Legs</th>
            </tr>
        </thead>
        <tbody>
            </tbody>
    </table>
</div>

<template id="rtw-row-template">
    <tr>
        <td class="game-table__cell game-table__cell--player-name"></td>
        <td class="game-table__cell game-table__cell--score"></td>
        <td class="game-table__cell game-table__cell--legs-sets"></td>
    </tr>
</template>