<!-- Frontend/templates/partials/_view_bobs27.html -->

<div id="bobs27-view-container" style="display: none;">

    <div class="game-rules-description" style="display: none;">
        <p class="game-rules-description__help-first-line">"Bob's 27" ist ein Trainingsspiel für Doppelfelder.</p>
        <ul>
            <li>Man startet mit 27 Punkten und wirft auf die Doppelfelder von 1 bis 20 und Bull.</li>
            <li>Für jeden Treffer im anvisierten Doppelfeld wird dessen Wert (z.B. 4 Punkte für D2) addiert.</li>
            <li>Trifft man in einer Runde kein einziges Mal das Ziel, wird der Wert des Doppels abgezogen.</li>
            <li>Fällt der Punktestand unter 1, ist das Spiel verloren.</li
        </ul>
    </div>

    <table class="game-table" id="bobs27-table">
        <thead>
            <tr>
                <th>Spieler</th>
                <th>Punkte</th>
                <th>Aktuelles Ziel</th>
                <th>Legs</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<template id="bobs27-row-template">
    <tr>
        <td class="game-table__cell game-table__cell--player-name"></td>
        <td class="game-table__cell game-table__cell--score"></td>
        <td class="game-table__cell game-table__cell--target"></td>
        <td class="game-table__cell game-table__cell--legs-sets"></td>

    </tr>
</template>