<!-- Frontend/templates/partials/_view_shanghai.html -->

<div id="shanghai-view-container" style="display: none;">

    <div class="game-rules-description" style="display: none;">
        <p class="game-rules-description__help-first-line">Bei Shanghai wird der Reihe nach auf die Zahlen 1 bis 20 eworfen.</p
        <ul>
        <li>Ziel ist es, in einer Runde ein Single, ein Double und ein Triple des aktuellen Ziels zu treffen (ein "Shanghai") und damit sofort zu gewinnen.</li>
        <li>Gelingt dies keinem Spieler, gewinnt am Ende der mit der höchsten Punktzahl.</li>
        </ul>
    </div>

    <table class="game-table" id="shanghai-table">
        <thead>
            <tr>
                <th>Spieler</th>
                <th>Punkte</th>
                 <th>Legs</th>
            </tr>
        </thead>
        <tbody>
            </tbody>
    </table>
</div>

<template id="shanghai-row-template">
    <tr>
        <td class="game-table__cell game-table__cell--player-name"></td>
        <td class="game-table__cell game-table__cell--score"></td>
        <td class="game-table__cell game-table__cell--legs-sets"></td>
    </tr>
</template>