<div id="atc-view-container" style="display: none;">
    <table class="game-table" id="atc-table">
        <thead>
            <tr>
                <th>Spieler</th>
                <th>Punkte</th>
                <th>Ziel</th>
                <th class="game-table__header--avg-g">ø Hits</th>
                <th>Match Hits %</th>
                <th>Leg Hits %</th>
                <th>Legs</th>
            </tr>
        </thead>
        <tbody>
            </tbody>
    </table>
</div>

<template id="atc-row-template">
    <tr>
        <td class="game-table__cell game-table__cell--player-name"></td>
        <td class="game-table__cell game-table__cell--score"></td>
        <td class="game-table__cell game-table__cell--target"></td>
        <td class="game-table__cell game-table__cell--avg-g"></td>
        <td class="game-table__cell game-table__cell--leg-hr"></td>
        <td class="game-table__cell game-table__cell--match-hr"></td>
        <td class="game-table__cell game-table__cell--leg-hr"></td>
        <td class="game-table__cell game-table__cell--legs-sets"></td>
    </tr>
</template>